<form #form="ngForm" class="needs-validation" novalidate autocomplete="off">
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Novo produto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Produto</label>
                        <input class="form-control" #PRODUTO="ngModel" name="produto" type="text" required [(ngModel)]="produto">
                        <div class="validation-error" *ngIf="PRODUTO.invalid && PRODUTO.touched">Este campo é obrigatório!</div>
                    </div>
                    <div class="form-group">
                        <label>Descrição</label>
                        <input class="form-control" #DESCRICAO="ngModel" name="descricao" type="text" required [(ngModel)]="descricao">
                        <div class="validation-error" *ngIf="DESCRICAO.invalid && DESCRICAO.touched">Este campo é obrigatório!</div>
                    </div>
                    <div class="form-group">
                        <label>Valor/R$</label>
                        <input class="form-control" #VALOR="ngModel" name="valor" type="number" required [(ngModel)]="valor">
                        <div class="validation-error" *ngIf="VALOR.invalid && VALOR.touched">Este campo é obrigatório!</div>
                    </div>
                    <div class="form-group">
                        <label>Peso/Kg</label>
                        <input class="form-control" #PESO="ngModel" name="peso" type="number" required [(ngModel)]="peso">
                        <div class="validation-error" *ngIf="PESO.invalid && PESO.touched">Este campo é obrigatório!</div>
                    </div> 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="clearFields()" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" (click)="addProduto()">Incluir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>